<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{%block title%} Col362 {%endblock%}</title>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'css/styles.css') }}" />
    </head>

    <body>
        
        <header class="header">
            <nav class = "nav">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                    <li><a href="{{ url_for('signup') }}">SIGNUP</a></li>
                    <li><a href="{{ url_for('restaurants') }}">FILTER</a></li>
                    <li><a href="{{ url_for('locate') }}">LOCATE</a></li>
                    <li><a href="{{ url_for('review') }}">REVIEW</a></li>
                    <li><a href="{{ url_for('update') }}">UPDATE</a></li>

                    <li>{%block user%} {%endblock%}</li>
                    <li><a href="{{ url_for('logout') }}">LOGOUT </a> </li>
                    
                </ul>
            </nav>

        </header>

        {% block content %}
        {% endblock %}

        <script src = "{{ url_for('static', filename = 'js/locate.js') }}"></script>

        {% for msg in get_flashed_messages() %}
        <div class = "flash-message">
            <script>alert("{{msg}}")</script>
        </div>
        {% endfor %}

        
    </body>
</html>

