<!DOCTYPE html>
<html>

    <head>
        <title>NAME OF THE APP</title>
        <link rel="stylesheet" href="styles.css" />
    </head>

    <body>

        
        <header class="header">
            <nav class = "nav">
                <ul>
                    <li><a href="{{url_for('home')}}">HOME</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <li><a href="signup.html">SIGNUP</a></li>
                </ul>
            </nav>
        </header>
        
        <form id = "homebox" class = "loginbox">
                <h1>NAME OF THE APP!</h1>

                <div class = "discover">
                    <h2>Discover restraunts near me</h2>
                    <li><a href="{{url_for('explore')}}">GO</a></li>
                </div>
        </form>

    </body>

</html>