{% extends 'base_login.html' %}
{%block title%} {{title}} {%endblock%}
{% block content %}

        <form id = "findrest" class = "locaterest">
            <h3>You selected Restaurant : </h3>
            <h1>Change Restaurant</h1>
            Find by 
            
            <select name = "mode" id = "modeID" onchange="onLoadLocate()">
                <option value = "byresid" selected>ID</option>
                <option value = "bycoord">Coordinate</option>
                <option value = "byphone">Phone Number</option>
            </select>

            <input class = "submit" type = "submit" value = "Find">

            <table id = "table">
                <tr>
                    <td>ID</td>
                    <td><input type = "number" name = "resID"></td>
                </tr>
            </table>   
        </form>

        <form id = "reviewrest" class = "locaterest">

            <h1>Review your Restaurant</h1>
            <table>
                <tr>
                    <td>Stars : </td>
                    <td><input type="number" name="stars" min="1" max="5" step="1" value="5"></td>
                </tr>

                <tr>
                    <td>Comment : </td>
                    <td><textarea></textarea></td>
                </tr>
            </table>

            <input class = "submit" type = "submit" value = "Write Review">

        </form>


        {% endblock %}