{% extends 'base_login.html' %}
{%block title%} {{title}} {%endblock%}
{% block content %}

        <form id = "updatemanager" class = "locaterest">
            <h1>Update your Restaurant</h1>
            <h3>Your Restaurant id is : </h3>

            <!-- Here by default show the older values -->
            <table>

                <tr>
                    <td>Name : </td>
                    <td><input type = "text" name = "name" id = "name"></td>
                </tr>

                <tr>
                    <td>Average Price : </td>
                    <td><input type = "number" name = "price" id = "price"></td>
                </tr>

                <tr>
                    <td>URL : </td>
                    <td><input type = "text" name = "url" id = "url"></td>
                </tr>

                <tr>
                    <td>Phone Number : </td>
                    <td><input type = "tel" name = "phone" id = "phone"></td>
                </tr>

                <tr>
                    <td>Special : </td>
                    <td><input type = "checkbox" name = "flag" id = "flag"></td>
                </tr>

                <tr>
                    <td>Menu : </td>
                    <td><input type = "text" name = "menu" id = "menu"></td>
                </tr>

                <tr>
                    <td>Latitude : </td>
                    <td><input type = "number" name = "lat" id = "lat" step = "0.000001"></td>
                </tr>

                <tr>
                    <td>Longitude : </td>
                    <td><input type = "number" name = "lon" id = "lon" step = "0.000001"></td>
                </tr>

                <tr>
                    <td>City : </td>
                    <td><input type = "text" name = "city" id = "city"></td>
                </tr>
                
                <tr>
                    <td>Postal : </td>
                    <td><input type = "text" name = "postal" id = "postal"></td>
                </tr>
                
                <tr>
                    <td>Province : </td>
                    <td><input type = "text" name = "province" id = "province"></td>
                </tr>

                <tr>
                    <td>Country : </td>
                    <td><input type = "text" name = "country" id = "country"></td>
                </tr>


            </table>
            <input class = "submit" type = "submit" value = "Update" id = "submit">

            <br>
            <br>
            <input class = "submit" type = "submit" value = "Delete my Restraunt" id = "delete">

        </form>

        {% endblock %}