{% extends 'base_login.html' %}
{%block title%} {{title}} {%endblock%}
{% block content %}

        <form id = "updateuser" class = "locaterest">
            <h1>Update your Details</h1>
            <h3>Your id is : </h3>

            <!-- Here by default show the older values -->
            <table>

                <tr>
                    <td>Name : </td>
                    <td><input type = "text" name = "name" id = "name"></td>
                </tr>

                <tr>
                    <td>Username : </td>
                    <td><input type = "text" name = "username" id = "username"></td>
                </tr>

                <tr>
                    <td>Gender : </td>
                    <td>
                        <input type="radio" name="Gender">Male
                        <input type="radio" name="Gender">Female
                        <input type="radio" name="Gender">Other
                    </td>
                </tr>

                <tr>
                    <td>DOB : </td>
                    <td>
                        <input type="date" name = "dob">
                    </td>
                </tr>

            </table>
            <input id = "submit" class = "submit" type = "submit" value = "Update">

            <br>
            <a href = "change_password.html">Change Password</a>
            <br>
            <br>
            <input class = "submit" type = "submit" value = "Delete my account" id = "delete">
        </form>

{% endblock %}